* {
  margin: 0;
  padding: 0;
}

.draggable--original,
.draggable-source--is-dragging {
  background-image: none !important;
}
.draggable--original::before,
.draggable-source--is-dragging::before {
  display: none;
}

html {
  font-family: Arial, Helvetica, sans-serif
}

:root {
  --item-box-size: 7vw;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}


[data-amount]::before {
  content: attr(data-amount);
  position: absolute;
  bottom: -8%;
  right: 1%;
  color: white;
  font-size: 2.5em;
}

.inventoryItem {
  display: block;
  position: relative;
  width: var(--item-box-size);
  height: var(--item-box-size);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#inventoryElement {
  margin-top: -10vh;
  margin: auto;
  max-width: calc(9 * var(--item-box-size) + 50px);
  padding: 5px 0px;
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: rgb(68, 64, 64);
}

#inventoryScreenContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* pointer-events: none */
}

#hotbarElement > div,
#inventoryElement > div {
  width: var(--item-box-size);
  height: var(--item-box-size);
  background: rgb(139, 139, 139);
  background-size: var(--item-box-size) var(--item-box-size);
  /* border: 6px solid rgb(68, 64, 64); */
}

#controlsScreen, #optionsScreen, #menuScreen {
  display: none;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

#menuScreen {
  display: flex;
}

#menu h2 {
  font-size: 2.5em;
  margin-bottom: 5vh;
}

#menu button {
  border:solid 2px #fff;
  background: transparent;
  color: #fff !important;
  transition: all 0.4s ease;
  margin: 10px;
}
#menu button:hover{
  border:solid 2px #fff;
  background: #fff;
  color: #1f1f1f !important;
}

#hotbarElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background: rgb(68, 64, 64);
}

#hotbarContainerElement {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#crosshairContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#crosshair {
  width: 1vw;
  height: 1vw;
  border-radius: 10px;
  background-color: white;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.dg.ac {
  z-index: 30 !important;
}

#instructions {
  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

html {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#menu {
  position: absolute;
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1.5s linear;
}

.menuButton {
  width: 60vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  cursor: pointer;
}