* {
  margin: 0;
  padding: 0;
}

:root {
  --item-box-size: 7vw;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#inventory {
  position: absolute;
  top: 0;
  height: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.inventoryItem {
  display: block;
  width: var(--item-box-size);
  height: var(--item-box-size);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#inventoryContainer {
  margin-top: -10vh;
  max-width: calc(9 * var(--item-box-size) + 50px);
  padding: 5px 0px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: rgb(68, 64, 64);
}

#hotbarContainer > div,
#inventoryContainer > div {
  width: var(--item-box-size);
  height: var(--item-box-size);
  background: rgb(139, 139, 139);
  background-size: var(--item-box-size) var(--item-box-size);
  /* border: 6px solid rgb(68, 64, 64); */
}

#hotbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background: rgb(68, 64, 64);
}

#hotbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#crosshairContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#crosshair {
  width: 1vw;
  height: 1vw;
  border-radius: 10px;
  background-color: white;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#blocker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dg.ac {
  z-index: 30 !important;
}

#instructions {
  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
